.header {
  display: flex;
  align-items: center;
  align-content: center;
  color: white;
  justify-content: space-between;
  padding: 0 30px;
}

@media (max-width: 900px) {
  .header {
    flex-direction: column;
  }

  .player {
    margin-bottom: 15px;
  }
}

.button {
  height: 30px;
  border: 0;
  background: #1c2933;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.button:hover {
  color: #425f75;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title .button {
  margin-left: 20px;
}

.player {
  display: flex;
}

.player span {
  font-size: 20px;
}

.player span:not(:last-child),
.button:not(:last-child) {
  margin-right: 20px;
}
