.container {
  padding: 0;
}

.main {
  padding: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid !important;
  grid-gap: 10px;
  grid-auto-flow: dense;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  padding: 0 10px 10px 10px;
}

.card {
  padding: 10px;
  color: white;
  text-decoration: none;
  border-radius: 3px;
  transition: 300ms ease;
  background: #1c2933;
  cursor: pointer;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card:hover,
.card:focus,
.card:active {
  color: #425f75;
}

.card h2 {
  margin: 0;
  font-size: 25px;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.header {
  display: flex;
  align-items: center;
  align-content: center;
  color: white;
  justify-content: space-between;
  padding: 0 30px;
}

@media (max-width: 900px) {
  .header {
    flex-direction: column;
  }

  .player {
    margin-bottom: 15px;
  }
}

.button {
  height: 30px;
  border: 0;
  background: #1c2933;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.button:disabled {
  cursor: not-allowed;
  background: white;
  color: #1c2933;
}

.button:hover {
  color: #425f75;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title .button {
  margin-left: 20px;
}

.player {
  display: flex;
}

.player span {
  font-size: 20px;
}

.player span:not(:last-child),
.button:not(:last-child) {
  margin-right: 20px;
}
